.avatar {
  background-color: #ffffff;
  height: 120px;
  width: 120px;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
}
.avatar img {
  display: block;
  height: 120px;
  width: 120px;
}
.avatar:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  width: 200px;
  height: 100px;
  background: rgba(255, 255, 255, 0.3);
  transform: rotate(45deg);
  transform-origin: 48px 24px;
}

.hug-selector {
  position: relative;
  height: 600px;
}
.hug-selector__input {
  position: absolute;
  top: 0;
  left: -99999999px;
  opacity: 0;
  overflow: hidden;
}
.hug-selector__list {
  margin: 0;
  padding: 0;

  display: block;
  height: 100%;
  width: 100%;

  display: block;
  list-style: none;
  overflow-y: scroll;
  padding-top: 300px;
  box-sizing: border-box;
}
.hug-selector__input:checked + .hug-selector__figure {
  display: flex;
  top: 0;
  left: 0;
  height: 300px;
  width: 100%;
}
.hug-selector__input:checked + .hug-selector__figure + .hug-selector__label {
  opacity: 1;
}
.hug-selector__figure {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0;
  background-color: #333333;
  z-index: 1;
}
.hug-selector__image {
  max-height: 100%;
  max-width: 100%;
}
.hug-selector__label {
  display: block;
  opacity: 0.2;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}
.hug-selector__label:hover {
  opacity: 0.5;
}
@media screen and (min-width: 1000px) {
  .hug-selector {
    height: 300px;
  }
  .hug-selector__input:checked + .hug-selector__figure {
    display: flex;
    width: 50%;
  }
  .hug-selector__list {
    padding-top: 0;
  }
  .hug-selector__label {
    width: 50%;
    margin-left: 50%;
    padding: 0 16px;
  }
}
